MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/feeding-futures
FRONTEND_URLS=https://feeding-futures-user.vercel.app,https://feeding-futures-admin.vercel.app,https://feeding-futures-delivery.vercel.app
